body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-shadow-1{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}

.header {
  padding: 10px;
}

.content {
  min-height: 90vh;
}